<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<f4>Заявка на просмотр</f4>
<p>
  Имя: <%=  @name%>
</p>
<p>
  Телефон: <%=  @phone%>
</p>
<p>
  Дата: <%=  @data%>
</p>
<p>
  Время: <%=  @time%>
</p>
<p>
  Ссылка: <%= @url %>
</p>
</body>
</html>